<mat-card class="item-list" [class.mat-elevation-z4]="true">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field class="searchBar">
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div class="filters">

            <mat-form-field>
                <mat-select placeholder="Category">
                    <mat-option [value]="Mens">
                        All Category
                    </mat-option>
                    <mat-option [value]="Mens">
                        Mens
                    </mat-option>
                    <mat-option [value]="Mens">
                        Women
                    </mat-option>
                    <mat-option [value]="Mens">
                        Childern
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Sort By">
                    <mat-option [value]="Mens">
                        Low Price to High
                    </mat-option>
                    <mat-option [value]="Mens">
                        Category
                    </mat-option>
                    <mat-option [value]="Mens">
                        Name
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-card-header>

    <mat-divider></mat-divider>
    
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let product of products; last as l">
            <app-item-card [product]="product"></app-item-card>
            <mat-divider *ngIf="!l"></mat-divider>
        </mat-list-item>
        
    </mat-list>
</mat-card>