<mat-card class="item-list" [class.mat-elevation-z4]="true">
    <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-form-field class="searchBar">
            <input matInput (input)="searchProduct($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div class="filters">

            <mat-form-field>
                <mat-select placeholder="Category" (selectionChange)="filterByCategory($event)">
                    <mat-option *ngFor="let cat of categories" [value]="cat">
                        {{cat}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Sort By" (selectionChange)="sortProducts($event)">
                    <mat-option *ngFor="let sort of sortBy" [value]="sort">
                        {{ sort }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-card-header>

    <mat-divider></mat-divider>
    
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let product of products; last as l">
            <app-item-card [product]="product"></app-item-card>
            <mat-divider *ngIf="!l"></mat-divider>
        </mat-list-item>
        
    </mat-list>
</mat-card>